spring:
  application:
    name: theatre-service
    pagination:
      max-size: 50

  datasource:
    url: jdbc:postgresql://localhost:5401/thetre_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
    encoding: UTF-8

  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 0

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    org.flywaydb: DEBUG
