spring:
  application:
    name: theatre-manager
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}
  config:
    import: "optional:configserver:${SPRING_CLOUD_CONFIG_URI:http://config-service:8888}"
  cloud:
    config:
      uri: ${SPRING_CLOUD_CONFIG_URI:http://config-service:8888}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://discovery-service:8761/eureka}
